body{
    overflow-x: hidden;
}
.footer{
    position: absolute;
}
h1{
    color:blue
}
.Mesazhi{
    width: 250px;
    height:300px;
}
.kontakti{
    margin-left: 450px;
}
.kutijaKontaktuese{
    border: 1px solid gray;
    box-shadow: 8px 8px gainsboro;
    width: 450px;
    height: 520px;
    color: black;
    margin-left: 550px;
    text-align: center;
}
.tel{
    margin-top: 50px;
    margin-left: -100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.adresa{
    margin-left: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    margin-left: -23px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    .kutijaKontaktuese{
        margin-left: 27px;
        width: 400px;
    }
    #mapav{
        width: 350px;
    }
    .tel{
        margin-left: -140px;
    }
    .adresa{
        margin-left: -5px;
    }
    #email{
        margin-left: -55px;
    }
}